*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #ffa500;
    --color-dark: #232323;
    --color-light: #eaeaea;
    --color-write: #fff;
}

html{
    scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    color: var(--color-primary);
}

header{
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 1.5rem 0;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline;
  margin: 0 1.5rem;
}

nav a {
  text-decoration: none;
  font-weight: 700;
}

.hero{
    background-image: url("./assets/pexels-narda-yescas-1566837.jpg");
    background-size: cover;
    color: var(--color-light);
    min-height: 75vh;
    padding: 10rem 0;
    text-align: center;
}

.hero h1{
    font-size: 4rem;
    font-weight: 100;
}

.hero p{
    font-size: 1.25rem;
    margin-top: 1.5rem;
}

.cta-button{
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    color: var(--color-dark);
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 700;
    padding: 0.75rem 1.5rem;
    display: inline-block;
    margin-top: 1.5rem;
}

footer{
    background-color: var(--color-dark);
    color: var(--color-primary);
    text-align: center;
    margin-top: 4rem;
    padding: 2rem;
}





