*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    text-align: center;
    background-color: #000000;
    padding: 1.5rem;
}

a{
    color: #fff;
}

image{
    background-size: cover;
}

footer{
    background-color: #000000;
    color: #f1b559;
    text-align: center;
    margin-top: 4rem;
    padding: 2rem;
}





